/*-------Font-
-apple-system,
BlinkMacSystemFont,"
Segoe UI",
Roboto,"
Helvetica Neue
",Arial,"
Noto Sans",
sans-serif,"
Apple Color Emoji",
"Segoe UI Emoji","
Segoe UI Symbol","
Noto Color Emoji";
-----*/
*{
    margin:0px;
    box-sizing: border-box;
}
a{
    text-decoration:none !important;
}

/*--------------------- top bar---------------------- */
.topbar{
    padding:1%;
    position:sticky;
    top:0px;
    display:flex;
    justify-content:center;
    background-color:#502eb8;
    color:white;
    box-shadow:0px 2px 5px black;
    z-index: 10;
}
.title{
    font-size:24px;
}
span.mouse{
    vertical-align: middle;
    margin-left:2px;
}


/*----------------- Heading------------------------- */
.header,.footer{
    text-align:center;
    padding-top:5%;
    padding-bottom:5%;
    color:#502eb8;
}
.footer{
    background-color:#502eb82f;
}
.header .title{
    font-family:"Nova Slim";
    font-size: 3.5em;;
}

.header p{
    font-family:"Open Sans";
    font-size : 1.5em;
}

/*------------ body --------------------*/

.wrap{
    overflow:hidden;
}
.section, .card-deck{
    padding:5%;
}
.section .heading{
    text-align: center;
}

.section .heading .title{
    font-family: "Google Sans";
    font-size:1.8em;
}

.card{
    border:none !important;
    border-radius :8px !important;
    padding:2%;
    background-color:white !important;
}
.card-body{
    display:flex;
    justify-content:center;
    align-items:center;
    color:rgb(85, 84, 83);
    font-size:1.2em;
    background-color:white;
}
.card{
    box-shadow : 0 0 2px gray;
}
.card:hover{
    box-shadow : 0 0 10px gray;
    transition:ease-out 0.3s;
}
.about{
    display:flex;
    justify-content:center;
    padding:5%;
}
.img-coding{
    max-width:100%;
    height:auto;
}
.card-img-top{
    height:100px;
}


/*-------------sidebar-----------------*/
.sidebar-left,.sidebar-right{
    height:100vh;
}
.sidebar-left{
    border-right:0.5px groove gray; 
}
.sidebar-right{
    border-left:0.5px groove gray; 
}
@media (max-width: 576px) {
    .sidebar-right{
        display:none;
    }
 }
@media (max-width: 991px) {
    .sidebar-left{
        display:none;
    }
 }


 /*----------------Content--------------*/
 .content-wrapper{
     padding:3%;
 }
 .quote{
     max-width:100%;
     padding:4%;
     display:flex;
     background-color:#502eb82f;
     flex-direction:column;
     justify-content:center;
     align-items:center;
 }
