*{
    margin:0px;
    box-sizing: border-box;
}
.topbar{
    padding:2%;
    position:sticky;
    top:0px;
    display:flex;
    justify-content:center;
    background-color:rgb(42, 21, 54);
    color:white;
    box-shadow:0px 5px 5px black;
    z-index: 10;
}
.title{
    font-size:24px;
}
span.mouse{
    vertical-align: middle;
    margin-left:2px;
}
.header,.footer{
    text-align:center;
    padding-top:5%;
    padding-bottom:5%;
    background-color:rgb(42, 21, 54);
    color:white;
}
.header .title{
    font-family:"Nova Slim";
    font-size: 3.5em;;
}

.header p{
    font-family:"Open Sans";
    font-size : 1.5em;
}
.wrap{
    background-color:rgb(42, 21, 54);
    overflow:hidden;
}
.section .heading{
    padding:5%;
    text-align: center;
}

.section .heading .title{
    font-family: "Google Sans";
    font-size:1.8em;
}
.title::after{
    display:block;
    content:"";
    width:30%;
    height:2px;
    margin:10px auto;
    background-color:rgb(42, 21, 54);

}

.card{
    border:none !important;
    border-radius :8px !important;
    padding:2%;
    background-color:white !important;
}
.card-body{
    display:flex;
    justify-content:center;
    align-items:center;
    color:rgb(85, 84, 83);
    font-size:2.5vw;
    background-color:white;
    border:2px solid rgb(85, 84, 83);
    border-radius :8px !important;
}
.card-body:hover{
    border:2px solid rgb(255, 127, 54);
    color: rgb(255, 127, 54);
    box-shadow: 0 0 10px rgb(255, 127, 54);
    text-shadow: 0 0 10px rgb(255, 127, 54);
}
.about{
    display:flex;
    justify-content:center;
    padding:5%;
}
.img-coding{
    max-width:100%;
    height:auto;
}